.heading::after {
    content: '';
    display: block;
    clear: both;
}

h1.title {
    display: block;
    float: left;
    margin: 0;
    font-size: 80px;
    font-weight: 700;
}

.container {
    margin: 0 auto;
    width: 500px;
}

.scores-container {
    text-align: right;
    float: right;
}

.score-container,
.best-container {
    color: #fff;
    position: relative;
    background: #8895b8;
    display: inline-block;
    box-sizing: initial;
    text-align: center;
    font-size: 25px;
    height: 25px;
    margin-top: 8px;
    font-weight: 700;
    line-height: 47px;
    border-radius: 3px;
    padding: 15px 25px;
}

.score-container::after,
.best-container::after {
    color: #eee4da;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    line-height: 13px;
    font-size: 13px;
    width: 100%;
    top: 10px;
    left: 0;
}

.score-container .score-addition,
.best-container .score-addition {
    animation: move-up 0.6s ease-in both;
    position: absolute;
    color: #fccc8d;
    right: 30px;
    z-index: 100;
    font-size: 25px;
    font-weight: 700;
    line-height: 25px;
}

.score-container::after { content: 'Score'; }
.best-container::after { content: 'Best'; }

.game-container {
    box-sizing: border-box;
    background: #bbada0;
    touch-action: none;
    position: relative;
    cursor: default;
    height: 500px;
    width: 500px;
    padding: 15px;
    margin-top: 40px;
    border-radius: 6px;
}

.game-container .game-message {
    animation: fade-in 0.8s ease 1.2s both;
    background: #eee4da80;
    text-align: center;
    position: absolute;
    display: none;
    z-index: 100;
    inset: 0;
}

.game-container .game-message p {
    color: #5d3c30;
    font-weight: 700;
    font-size: 60px;
    height: 60px;
    margin-top: 200px;
    line-height: 60px;
}

.game-container .game-message .lower {
    display: block;
    margin-top: 59px;
}

.game-container .game-message a {
    text-decoration: none;
    display: inline-block;
    background: #447dc3;
    color: #f9f6f2;
    padding: 0 20px;
    height: 45px;
    line-height: 47px;
    margin-left: 12px;
    border-radius: 7px;
}

.game-container .game-message a.keep-playing-button {
    display: none;
}

.game-container .game-message.game-won {
    background: #edc22e80;
    color: #f9f6f2;
}

.game-container .game-message.game-won a.keep-playing-button {
    display: inline-block;
}

.game-container .game-message.game-won,
.game-container .game-message.game-over {
    display: block;
}

.grid-container {
    position: absolute;
    z-index: 1;
}

.grid-row {
    margin-bottom: 15px;
}

.grid-row:last-child {
    margin-bottom: 0;
}

.grid-row::after {
    display: block;
    clear: both;
    content: '';
}

.grid-cell {
    background: #eee4da59;
    float: left;
    width: 106.25px;
    height: 106.25px;
    margin-right: 15px;
    border-radius: 3px;
}

.grid-cell:last-child {
    margin-right: 0;
}

.tile-container {
    position: absolute;
    z-index: 2;
}

.tile,
.tile .tile-inner {
    line-height: 107px;
    height: 107px;
    width: 107px;
}

.tile.tile-position-1-1 {
    transform: translate(0px, 0px);
}

.tile.tile-position-1-2 {
    transform: translate(0px, 121px);
}

.tile.tile-position-1-3 {
    transform: translate(0px, 242px);
}

.tile.tile-position-1-4 {
    transform: translate(0px, 363px);
}

.tile.tile-position-2-1 {
    transform: translate(121px, 0px);
}

.tile.tile-position-2-2 {
    transform: translate(121px, 121px);
}

.tile.tile-position-2-3 {
    transform: translate(121px, 242px);
}

.tile.tile-position-2-4 {
    transform: translate(121px, 363px);
}

.tile.tile-position-3-1 {
    transform: translate(242px, 0px);
}

.tile.tile-position-3-2 {
    transform: translate(242px, 121px);
}

.tile.tile-position-3-3 {
    transform: translate(242px, 242px);
}

.tile.tile-position-3-4 {
    transform: translate(242px, 363px);
}

.tile.tile-position-4-1 {
    transform: translate(363px, 0px);
}

.tile.tile-position-4-2 {
    transform: translate(363px, 121px);
}

.tile.tile-position-4-3 {
    transform: translate(363px, 242px);
}

.tile.tile-position-4-4 {
    transform: translate(363px, 363px);
}

.tile {
    transition-property: transform;
    transition: 0.1s ease-in-out;
    position: absolute;
}

.tile .tile-inner {
    background: #eee4da;
    text-align: center;
    color: #444;
    z-index: 10;
    font-size: 55px;
    font-weight: 700;
    border-radius: 3px;
}

.tile.tile-2 .tile-inner {
    box-shadow: 0 0 30px 10px #f3d77400, inset 0 0 0 1px #ffffff00;
    background: #eee4da;
}

.tile.tile-4 .tile-inner {
    box-shadow: 0 0 30px 10px #f3d77400, inset 0 0 0 1px #ffffff00;
    background: #ede0c8;
}

.tile.tile-8 .tile-inner {
    background: #f2b179;
    color: #f9f6f2;
}

.tile.tile-16 .tile-inner {
    background: #f59563;
    color: #f9f6f2;
}

.tile.tile-32 .tile-inner {
    background: #f67c5f;
    color: #f9f6f2;
}

.tile.tile-64 .tile-inner {
    background: #f65e3b;
    color: #f9f6f2;
}

.tile.tile-128 .tile-inner {
    box-shadow: 0 0 30px 10px #f3d7743d, inset 0 0 0 1px #ffffff24;
    background: #edcf72;
    color: #f9f6f2;
    font-size: 45px;
}

.tile.tile-256 .tile-inner {
    box-shadow: 0 0 30px 10px #f3d77451, inset 0 0 0 1px #ffffff30;
    background: #edcc61;
    color: #f9f6f2;
    font-size: 45px;
}

.tile.tile-512 .tile-inner {
    box-shadow: 0 0 30px 10px #f3d77440, inset 0 0 0 1px #ffffff24;
    background: #edc850;
    color: #f9f6f2;
    font-size: 45px;
}

.tile.tile-1024 .tile-inner {
    box-shadow: 0 0 30px 10px #f3d77479, inset 0 0 0 1px #ffffff49;
    background: #edc53f;
    color: #f9f6f2;
    font-size: 35px;
}

.tile.tile-2048 .tile-inner {
    box-shadow: 0 0 30px 10px #f3d7748e, inset 0 0 0 1px #ffffff54;
    background: #edc22e;
    color: #f9f6f2;
    font-size: 35px;
}

.tile.tile-super .tile-inner {
    background: #3c3a32;
    color: #f9f6f2;
    font-size: 30px;
}

.tile-new .tile-inner {
    animation: appear 0.2s ease 0.1s backwards;
}

.tile-merged .tile-inner {
    animation: pop 0.2s ease 0.1s backwards;
    z-index: 20;
}

.above-game::after {
    display: block;
    clear: both;
    content: '';
}

.game-intro {
    float: left;
    margin-bottom: 0;
    line-height: 42px;
}

.restart-button {
    display: inline-block;
    text-decoration: none;
    background: #8f7a66;
    text-align: center;
    color: #f9f6f2;
    display: block;
    height: 40px;
    padding: 0 20px;
    line-height: 42px;
    border-radius: 3px;
}

.game-explanation {
    margin-top: 50px;
}

.block {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    display: flex;
}

.block-300 {
    background: #8f7a66;
    display: none;
    height: 250px;
    width: 100%;
}

.block-728 {
    background: #8f7a66;
    display: none;
    width: 100%;
    height: 90px;
    max-width: 728px;
}